<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pagetitle}}</title>
    <link rel="stylesheet" href="/public/shared/index.css" />
</head>

<body>

    {{include('diner/diner-header.html')}}
    <!-- template for reservation email, this is just to showcase how email will look if they were actually sent -->
    <main class="story">
        {% if reservation_result is not empty %}
        <h2>Reservation Confirmation</h2>
        <p>Hello {{rname}},</p>
        <p>Thank you for your reservation! Here are the details:</p>
        <ul>
            <li><strong>Date:</strong> {{rdate}}</li>
            <li><strong>Service:</strong> {{rservice}}</li>
            <li><strong>Time:</strong> {{rtime}}</li>
            <li><strong>Guests:</strong> {{rguests}}</li>

        </ul>
        <p>We look forward to seeing you!</p>
        <p>Best regards,<br>Lancaster Reservations</p>


        <!-- Check if there's a reservation result to display -->

        <div class="reservation-confirmation">
            <!-- Display the reservation result message -->
            {{ reservation_result|raw }}
        </div>

       
        <a href="https://calendar.google.com/calendar/r/eventedit?text=Lancaster+Reservation&dates={{ combined_datetime }}/{{ end_datetime }}&details=We+look+forward+to+serving+you&location=Event+Location" target="_blank">
            Add to Google Calendar
        </a><br> 

        <a href="https://outlook.live.com/calendar/0/deeplink/compose?subject=Lancaster+Reservation&startdt={{ combined_datetime }}&enddt={{ end_datetime }}&body=Your+reservation+at+Lancaster&location=Lancaster+Restaurant" target="_blank">
            Add to Outlook Calendar
        </a><br> 
        
        <a href="https://calendar.yahoo.com/?v=60&view=d&type=20&title=Lancaster+Reservation&st={{ combined_datetime }}&et={{ end_datetime }}&desc=Your+reservation+at+Lancaster&in_loc=Lancaster+Restaurant" target="_blank">
            Add to Yahoo Calendar
       <br> </a>
          

        <button class="red-button" onclick="window.location.href='/reservation'">Go Back</button>
        {% endif %}


    </main>
    {{include('footer.html')}}
</body>

</html>