<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pagetitle}}</title>
    <link rel="stylesheet" href="/public/shared/index.css" />
</head>
<body>
    
{{include('diner/dinerheader.html')}}

<main class="story">
    {% if reservation_result is not empty %}
<h2>Reservation Confirmation</h2>
    <p>Hello {{rname}},</p>
    <p>Thank you for your reservation! Here are the details:</p>
    <ul>
        <li><strong>Date:</strong> {{rdate}}</li>
        <li><strong>Service:</strong> {{rservice}}</li>
        <li><strong>Time:</strong> {{rtime}}</li>
        <li><strong>Guests:</strong> {{rguests}}</li>
  
    </ul>
    <p>We look forward to seeing you!</p>
    <p>Best regards,<br>Lancaster Reservations</p>


<!-- Check if there's a reservation result to display -->

    <div class="reservation-confirmation">
        <!-- Display the reservation result message -->
        {{ reservation_result|raw }}
    </div>
    
    <button class="red-button" onclick="window.location.href='/reservation'">Go Back</button>
{% endif %}


</main>
{{include('footer.html')}}
</body>
</html>