<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pagetitle}}</title>
    <link rel="stylesheet" href="/public/shared/index.css" />
    <link rel="stylesheet" href="/public/shared/login-register.css" />
</head>

<body>
    {% if show %}
    {% include '/diner/diner-header.html' %}
    {% else %}
    {% include 'header.html' %}
    {% endif %}


    <main>

<!-- email form first to send otp -->
        <section class="staff-form" id="otpFormSection">
            <h2>Send OTP</h2>
            <form id="otpForm" action="/sendotp" method="post">
                <p>Please enter your email address below.<br>If you are already logged in, please confirm your email address.</p>
                <div class="form-group">
                    <input style="width: 95%;" type="email" id="username" name="username" placeholder="Email" required>
                </div>
                <div id="error-message" style="color: red; display: none;"></div>

                <button type="submit" class="red-button">Submit</button>
            </form>
        </section>

<!-- enter otp form  -->
        <section class="staff-form" style='display: none;' id="enterOtpSection">
            <h2>Enter OTP</h2>
            <form id="enterotp" action="/checkotp" method="post">
                <p>Please enter the OTP sent to your email address below.</p>
                <div class="form-group">
                    <input style="width: 95%;" type="number" id="otp" name="otp" placeholder="OTP" maxlength="6"
                        required>
                </div>
                <div id="email_download"></div>
                <div id="error-message" style="color: red; display: none;"></div>
                <button type="submit" class="red-button">Submit</button>
            </form>
        </section>


<!-- if otp correct show the change password form -->

        <section id="chnagepasswordsection" class="staff-form" style='display: none;'>
            <h2>Change Password</h2>
            <form action="/authchangepass" method="post" id="changePasswordForm">
                <!-- Password input field -->
                <div class="form-group">
                    <!-- validation for password must include symbol digit and atleast 8 length -->
                    <input type="password" id="password" name="password"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}"
                        title="Password must be at least 8 characters long, contain a mix of letters, digits, at least one symbol, and a mix of upper and lower case letters."
                        placeholder="Password" required>
                </div>

                <!-- Confirm Password input field -->
                <div class="form-group">
                    <input type="password" id="confirm_password" name="confirm_password"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}"
                        title="Password must be at least 8 characters long, contain a mix of letters, digits, at least one symbol, and a mix of upper and lower case letters."
                        placeholder="Confirm Password" required>
                </div>

                <!-- Submit button -->
                <div id="error-message" style="color: red; display: none;"></div>
                <button class="red-button" type="submit">Submit</button>
            </form>
        </section>



    </main>

    {{ include('footer.html') }}
</body>

</html>

<script src="/public/js/diner/update-password.js"></script>