/* General layout of shared pages */
body {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  color: #333;
  font-size: larger;
  background-color: #f9f9f9;
  line-height: 1.6;
  margin: 0;
}
/* Css for navigation bar*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  height: 6vh;
  background-color: #241e1e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* b-corp logo css to scale it down*/

.b-corp {
  position: relative;
  width: 80px;
  height: auto;
  top: 50px
}
/* scale the restaurant website logo down and make the position relative to the page + alignments*/
.image {
  margin-top: 5px;
  position: relative;
  max-width: 230px;
}
.image img {
  width: 95%;
  height: auto;
}

/*Show the nav links to the right */
header nav {
  display: block;
  float: right;
}

/* format the text for navgiation section and give visual appearence*/
header nav a {
  font-size: x-large;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 15px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
}

/* highlights nav link when hovering*/
header nav a:hover {
  color: #e63946;


}
/* center text*/

/* all elments that need to be changed when screen width changes*/
@media (max-width: 768px) {
  body {
    margin: 0;
  }
  header {
    /*headers diretion is changed to coloumn instead of row to account for mobile  */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  /* reposition b logo*/
  .b-corp {
    margin-left: 0;
    
  }
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header nav a {
    display: block;
    margin: 5px 0;
  }
  /* readjust restaurant logo*/
  .image {
    max-width: 200px;
  }
  /* stack images vertically*/
  .image-grid {
    flex-direction: column;
  }
  /*smaller heading on mobile */
  .story h2,
  .info h2 {
    font-size: 1.25rem;
  }
  /* make images take 100% of width*/
  .image-food {
    width: 100%;
  }
  /* stack images verticalaly*/
  .image-container {
    flex-direction: column;
  }
  .hero-content {
    font-size: 2vh;
    width: 80%;
  }

}

@media (max-width: 1024px) {
  .section {
    flex-basis: calc(50% - 20px);
  }

  .text-container {
    flex-direction: column;
  }
  .social-container {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
  }
  .b-corp {
    margin-left: 53px;

    margin-top: -69px;
    margin-bottom: 54px;
  
  }
}

/* Allows the sections to wrap to the next row */
.image-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* 4 items per row by default */
.section {
  flex-basis: calc(25% - 20px);
  text-align: center;
}
/* Ensures the image fills the section width */
.image-grid img {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.image-grid img:hover {
  transform: scale(1.04);
}


footer {
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #282828;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  
}
/* social media icons css*/
.social-container {

  gap: 30px;
}

.social-container a {
  text-decoration: none;
}
/* footer text css*/
footer p {
  font-size: large;
  margin: 2px;
  margin-bottom: 10px;
  font-weight: 600;
}
/* take equal space*/
.story {
  flex: 1;
}
/* story and info css universally*/
.story,
.info {
  flex: 1;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
}

.story h2,
.info h2 {
  color: #000000;
}

.story p,
.info p {
  text-wrap: pretty;
  margin-bottom: 10px;
}

/* qutoes css*/
.quotes {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  margin: 10px 0;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.text-container {
  display: flex;
  /* Use flexbox for layout */
}
/* image container css*/
.image-container {
  margin: 10px 0;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.3s ease;
}


.image-container img:hover {
  transform: scale(1.04);
}

/* image css*/
.image-food {
  margin: 12px 0;
  width: 49.2%;
  height: auto;
  border-radius: 15px;
}

/* hero section css*/
.hero-section {
  background-image: url("/public/info package/images/rerestaurant/restaurant-1.jpeg");
  background-size: cover;
  background-position: center;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  animation: changeBackground 15s infinite;
}
/* overlay for hero section*/
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(32, 27, 27, 0.502);
}
/* hero content css*/
.hero-content {
  text-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.348);
  border-radius: 18px;
  z-index: 1;
  padding-bottom: 30px;
}
/* hero content h1 and p css*/
.hero-content h1 {
  font-size: 2em;

  margin-left: 15px;
  margin-right: 15px;
}

.hero-content p {
  font-size: 1.5em;

}


/* animation for hero section*/
@keyframes changeBackground {
  0% {
    background-image: url("/public/info package/images/rerestaurant/restaurant-1.jpeg");
  }

  33% {
    background-image: url("/public/info package/images/food/food-1.jpeg");
  }

  66% {
    background-image: url("/public/info package/images/food/food-2.jpeg");
  }

  100% {
    background-image: url("/public/info package/images/rerestaurant/restaurant-1.jpeg");
  }
}
/* red button css a universal button*/
.red-button {
  background-color: rgb(207, 35, 5);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease;
  text-decoration: none;
}
/* red button hover css*/
.red-button:hover {
  color: #cf2305;
  background-color: #ffffff;
  outline: #cf2305 solid 2px;
}
.links{
  color: black;
}

.links:hover{
  color: #cf2305;
}

table {
  width: 100%;
  margin: 10px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow-y: auto;

}

th, td {
  padding: 12px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333; 
  color: white;
  position: sticky;
  top: 0;
}

tr:hover {
  background-color: #f5f5f5;
}

@media (max-width: 768px) {

  table {
    overflow-x: auto;
    width: 100%;
    display: block;
  }
}

.container {

  margin: 0 auto;
}