<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/public/css/staff/StaffShared.css">
</head>

<body>

    {{ include('/staffportal/header.html') }}

    <main>

        <section class="section-fix">
            <h1>Todays Booking {{todays_Date}}</h1>
            <div class="story">
                <h3>Introduction: </h3>
                <p>View today's <strong>breakfast</strong>, <strong>lunch</strong>, and <strong>dinner</strong>
                    reservations below. Each section lists the <strong>service type</strong>, <strong>booking
                        name</strong>, <strong>email</strong>, <strong>phone number</strong>, <strong>service
                        date</strong>, <strong>time booked</strong>, <strong>party size</strong>, <strong>tables
                        booked</strong>, and any <strong>extra requirements</strong>. Click the button below to see the
                    next service with valid reservations. This is synchronised with the current time! For example, if the service time for lunch is 12 PM and it is 12 PM now, it will show dinner reservations, and so on 
                    it tries to find service wiht atleast 1 booking, e.g. if no booking today besides breakfast but we have one tomorrow it will show that.</p>
                <button onclick="openOverlay()" class="red-button">Next Service List</button>
            </div>
        </section>

        <!-- section for the overlay to show the next reservation list for next service if any -->

        <section id="overlay-reservation" class="overlay">
            <div class="overlay-content">

                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th colspan="9" class="remove-th-space"">Next Service {{ next_Service[0].service}}</th>
                        </tr>
                        <tr>
                            <th>Service</th>
                            <th>Booking Name</th>
                            <th>Email</th>
                            <th>Phone No (Optional)</th>
                            <th>Service Date</th>
                            <th>Time Booked</th>
                            <th>Party Size</th>
                            <th>Tables Booked</th>
                            <th>Extra Requirements</th>
                        </tr>
                    </thead>
                    <!-- twig template used to prepopulate the table  -->
                    <tbody>
                        {% for booking in next_Service %}
                        <tr>
                            <td>{{ booking.service }}</td>
                            <td>{{ booking.name }}</td>
                            <td>{{ booking.email }}</td>
                            <td>{{ booking.phone }}</td>
                            <td>{{ booking.reservation_date }}</td>
                            <td>{{ booking.time_booked }}</td>
                            <td>{{ booking.party_size }}</td>
                            <td>{{ booking.tables }}</td>
                            <td>{{ booking.extra_requirements }}</td>
                        </tr>
                        {% endfor %}

                       

                  
                    </tbody>
        
                </table>
                <!-- button to close overlay and prin the service service plan -->
                <div class=" sticky-buttons">
                                <button class="red-button" onclick="closeOverlay()">Close</button>
                                <button class="red-button" onclick="printList()">Print List</button>
            </div>
            </div>

        </section>
        <!-- section shows todays bookings for breakfast -->

        <section class="section-fix">
            <table style=" margin-bottom: 60px;">
                <thead>
                    <tr>
                        <th colspan="9" class="remove-th-space">Breakfast
                            Bookings</th>
                    </tr>
                    <tr>
                        <th>Service</th>
                        <th>Booking Name</th>
                        <th>Email</th>
                        <th>Phone No (Optional)</th>
                        <th>Service Date</th>
                        <th>Time Booked</th>
                        <th>Party Size</th>
                        <th>Tables Booked</th>
                        <th>Extra Requirements</th>
                    </tr>
                </thead>
                <!-- twig template to prepopulate breakfast table -->
                <tbody>
                    {% for booking in bookings %}
                    {% if booking.service == 'Breakfast' %}
                    <tr>
                        <td>{{ booking.service }}</td>
                        <td>{{ booking.name }}</td>
                        <td>{{ booking.email }}</td>
                        <td>{{ booking.phone }}</td>
                        <td>{{ booking.reservation_date }}</td>
                        <td>{{ booking.time_booked }}</td>
                        <td>{{ booking.party_size }}</td>
                        <td>{{ booking.tables }}</td>
                        <td>{{ booking.extra_requirements }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>

            </table>

        </section>

        <!-- sections shows todays bookings for lunch -->
        <section class="section-fix">


            <table style=" margin-bottom: 60px;">
                <thead>
                    <tr>
                        <th colspan="9" class="remove-th-space"">Lunch Bookings
                        </th>
                    </tr>
                    <tr>
                        <th>Service</th>
                        <th>Booking Name</th>
                        <th>Email</th>
                        <th>Phone No (Optional)</th>
                        <th>Service Date</th>
                        <th>Time Booked</th>
                        <th>Party Size</th>
                        <th>Tables Booked</th>
                        <th>Extra Requirements</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- twig template to prepopulate lunch table -->
                    {% for booking in bookings %}
                    {% if booking.service == 'Lunch' %}
                    <tr>
                        <td>{{ booking.service }}</td>
                        <td>{{ booking.name }}</td>
                        <td>{{ booking.email }}</td>
                        <td>{{ booking.phone }}</td>
                        <td>{{ booking.reservation_date }}</td>
                        <td>{{ booking.time_booked }}</td>
                        <td>{{ booking.party_size }}</td>
                        <td>{{ booking.tables }}</td>
                        <td>{{ booking.extra_requirements }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}

                </tbody>
            </table>
        </section>

<!-- section shows todays bookings for dinner -->
        <section class=" section-fix">



                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="9" class="remove-th-space"">Dinner Bookings
                        </th>
                    </tr>
                    <tr>
                        <th>Service</th>
                        <th>Booking Name</th>
                        <th>Email</th>
                        <th>Phone No (Optional)</th>
                        <th>Service Date</th>
                        <th>Time Booked</th>
                        <th>Party Size</th>
                        <th>Tables Booked</th>
                        <th>Extra Requirements</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- twig template to prepopulate dinner table -->
                    {% for booking in bookings %}
                    {% if booking.service == 'Dinner' %}
                    <tr>
                        <td>{{ booking.service }}</td>
                        <td>{{ booking.name }}</td>
                        <td>{{ booking.email }}</td>
                        <td>{{ booking.phone }}</td>
                        <td>{{ booking.reservation_date }}</td>
                        <td>{{ booking.time_booked }}</td>
                        <td>{{ booking.party_size }}</td>
                        <td>{{ booking.tables }}</td>
                        <td>{{ booking.extra_requirements }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}

                </tbody>
            </table>
        </section>





    </main>


    {{ include('/staffportal/footer.html') }}
</body>

</html>
<script src=" /public/js/staff/bookings.js">
</script>