<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/staff/StaffShared.css">
</head>
<body>

{{ include('/staffportal/header.html') }}


<main>
    <section>
    <h1 class="">Dashboard </h1>
        <div class="container">
        {% set days = {
        'Today Services': today,
        'Tomorrow Services': tomorrow,
        'Day After Services': day_after_tomorrow
        } %}
        {% for day, services in days %}
        <div class="card">
            <h3>{{ day }}</h3>
            {% if services|length == 0 %}
            <strong>No service setup</strong>
            {% else %}
            {% set first_day = services[0] %}
            <strong>{{ first_day.service_date }}</strong> <br>
           
            {% for service in services %}
            
            <div class="meal">
                <strong>{{ service.service }}</strong>
                <div class="meal-time">{{ service.time_start }} - {{service.time_end}}</div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    </section>

    <section>
    <div class="story">
        <h3 class="">Services List</h3>
        <p>List of services for the day alongside their times and total number of bookings made. To view more indepth for each service please click the Details Button which will expand each service. </p>
    </div>


    <table>
        <thead>
            <tr>
                <th>Service Name</th>
                <th>Total Bookings</th>
                <th>Service Time</th>
                <th>Service Date</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <!-- using twig to iterate and fulfill the table-->
            {% for service in services %}
            <tr>
                <td>{{ service.service }}</td>
                <td>{{ service.total_count }}</td>
                <td>{{ service.time_start }} - {{service.time_end}}</td>
                <td>{{ service.service_date }}</td>
                <td><button onclick="location.href='/staffportal/bookings'">Details</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

</main>

{{ include('/staffportal/footer.html') }}
</body>
</html>
<script src="/public/js/staff/StaffDashboard.js"></script>