<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Lancaster's Restaurant - Staff Login." />
    <meta name="author" content="Lancaster's Restaurant">
    <meta name="keywords" content="Lancaster's Restaurant,lancaster staff login, login, staff">
    <title>{{pagetitle}}</title>
    <link rel="icon" href="/public/info package/images/logos/Logoico.ico" />
    <link rel="stylesheet" href="/public/shared/index.css" />
    <link rel="stylesheet" href="/public/shared/login-register.css" />
    <script src="https://kit.fontawesome.com/f11736a280.js" crossorigin="anonymous"></script>
</head>

<body>
    {{ include('header.html') }}

    <main>

    </main>

    <section class="staff-form">
        <h2>First-Time Staff Registration</h2>
        <form action="/authStaffSignup" method="post">
            <!-- Name input field -->
            <div class="form-group">
            <input style="width: 100%;" type="text" id="name" name="name" placeholder="Full Name" required>
            </div>

            <!-- Email input field -->
            <div class="form-group">
            <input style="width: 100%;" type="email" id="username" name="username" placeholder="Email" required>
            </div>

            <!-- Password input field -->
            <div class="form-group">
            <input style="width: 100%;" type="password" id="password" name="password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}"
                title="Password must be at least 8 characters long, contain a mix of letters, digits, at least one symbol, and a mix of upper and lower case letters."
                placeholder="Password" required>
            </div>

            <!-- Confirm Password input field -->
            <div class="form-group">
            <input style="width: 100%;" type="password" id="confirm_password" name="confirm_password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}"
                title="Password must be at least 8 characters long, contain a mix of letters, digits, at least one symbol, and a mix of upper and lower case letters."
                placeholder="Confirm Password" required>
            </div>

            <!-- Secret Key input field -->
            <div class="form-group">
            <input style="width: 100%;" type="password" id="secret" name="secret"
                title="Secret for one time setup"
                placeholder="Secret Key" required>
            </div>

            <!-- Error message and Submit button -->
            <div id="error-message" style="color: red; display: none;"></div>
            <button style="width: 100%;" class="red-button" type="submit">Register</button>
        </form>
    </section>


    {{ include('footer.html') }}
</body>

</html>

<script>

    function submitSignupForm(e) {
        e.preventDefault()
        var password = document.getElementById('password').value;
        var confirm_password = document.getElementById('confirm_password').value;
        var secret = document.getElementById('secret').value;
        if (password != confirm_password && secret != empty) {
            showErrorMessage('Passwords do not match');
            return;
        }

        else if (secret === ''){
            showErrorMessage('Secret key is required');
            return;
        }


        else {
            const formData = new FormData(this);
            fetch('/authStaffSignup', {
                method: 'POST',
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Redirect or perform success action
                        window.location.href = '/stafflogin';
                    } else {
                        document.getElementById('secret').style.border = '2px solid red';
                        showErrorMessage("Incorrect Secret Key");
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });

        }
    }

    function showErrorMessage(message) {
        const errorDiv = document.getElementById('error-message');
        errorDiv.innerHTML = message;    // Set the message
        errorDiv.style.display = 'block'; // Display the message
    }

    document.querySelector('.staff-form form').addEventListener('submit', submitSignupForm);
</script>